html{
	height: 100%;
}
body{
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background:
}
.title{
	font-family: "Tangerine", serif;
	font-size: 100px;
	margin: 0;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
.navbar{
	width: 100%;
}
/*changing all of the lists*/
.navbar > div > ul{
	margin: 0;
	vertical-align: middle;
	padding: 0;
}
.navbar > div > ul > li{
	list-style-type: none;
	display: inline-block;
	padding: 13.5px;
	cursor: pointer;
	/*makes cursor pointed when entering entire li;
	makes the li seem more clickable*/
}
.navbar > div > ul > li > a{
	text-decoration: none;
	font-family: arial;
	font-size: 20px;
}
.navbar > div > ul > li > .triangle-down:before{
	content: '';
	display: inline-block;
	margin-right: 10px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #fff;
}
.navbar > div > ul > li > .triangle-right:before{
	content: '';
	display: inline-block;
	position: relative;
	top: 12px;
	left: -10px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #000;
}
.navbar > .real-nav{
	width: 100%;
	height: 50px;
}
.navbar > .real-nav > ul{
	background-color: #000;
	height: 100%;
}
.navbar > .real-nav > ul > li{
	margin-right: -5px;
}
.navbar > .real-nav > ul > li > a{
	color: #fff;
}
.navbar > .dropdown-blog{
	width: 169px;
	border: 3px solid #000;
	background-color: #fff;
	position: absolute;
	left: 78px;
}
.navbar > .dropdown-blog > ul > li{
	display: block;
	width: 142px;
}
.navbar > .dropdown-blog > ul > .notLast:after{
	content: '';
	display: block;
	width: 140px;
	height: 0px;
	border: 1px solid #000;
	position: relative;
	top: 14px;
}
.navbar > .dropdown-blog > ul > li > a{
	color: #000;
	text-align: left;
}
.navbar > .dropdown{
	width: 169px;
	border: 3px solid #000;
	background-color: #fff;
	position: absolute;
	left: 162px;
}
.navbar > .dropdown > ul > li{
	display: block;
	width: 142px;
}
.navbar > .dropdown > ul > .notLast:after{
	content: '';
	display: block;
	width: 140px;
	height: 0px;
	border: 1px solid #000;
	position: relative;
	top: 14px;
}
.navbar > .dropdown > ul > li > a{
	color: #000;
	text-align: left;
}
/*Blog dropdown*/
/*Head first in Javascript Dropdown*/
.navbar > .dropdown-2{
	width: 146px;
	border: 3px solid #000;
	background-color: #fff;
	position: absolute;
	left: 334px;
	top: 223px;
}
.navbar > .dropdown-2 > ul > li{
	display: block;
	width: 122px;
}
.navbar > .dropdown-2 > ul > li > a{
	color: #000;
	text-align: left;
}
/*now...all the hover and on stuff*/
#on > a{
	text-decoration: underline;
}
.navbar > .real-nav > ul > li:hover{
	background-color: #fff;
}
.navbar > .real-nav > ul > li:hover > a{
	color: #000;
}
.navbar > div > ul > li:hover > .triangle-down:before{
	border-top: 7px solid #000;
}
.navbar > div > ul > li:hover > .triangle-right:before{
	border-left: 7px solid #fff;
}
.navbar > .dropdown > ul > li:hover{
	background-color: #000;
}
.navbar > .dropdown > ul > li:hover a{
	color: #fff;
}
.navbar > .dropdown-2 > ul > li:hover{
	background-color: #000;
}
.navbar > .dropdown-2 > ul > li:hover > a{
	color: #fff;
}
.navbar > .dropdown-blog > ul > li:hover{
	background-color: #000;
}
.navbar > .dropdown-blog > ul > li:hover > a{
	color: #fff;
}
/*NOW ALL THE BLOG STUFF!!*/
.blog{
	width: 70%;
	margin: 10px 0px 10px 20px;
	float: left;
	display: block;
	background-color: #fff;
	/*the last number for the RGBA is the opacity*/
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.39);
	padding: 10px 10px 0px;
}
.blog > .date{
	font-size: 20px;
	font-family: "Arial", Helvetica, sans-serif;
	text-align: right;
	color: #ccc;
	margin: 0px;
}
.blog > .title{
	font-size: 35px;
	font-family: "Arial", Helvetica, sans-serif;
	text-align: center;
	padding: 0px 0px 10px;
	margin: 0px;
}
.blog > .subtitle{
	font-size: 25px;
	font-family: "Arial", Helvetica, sans-serif;
	/*I just figured the "lighter" for the font-
	weight while I was guessing at the properties*/
	font-weight: lighter;
	margin: 0px;
	padding: 0px 0px 10px;
}
.blog > .subtitle:before{
	content: "";
	height: auto;
	border-left: 2px solid #990000;
	position: relative;
	right: 10px;
}
.real-stuff{
	margin: 0px;
	font-size: 18px;
	text-align: justify;
	font-family: "Arial", Helvetica, sans-serif;
	padding: 0px 10px 10px 10px;
}
.blog > ol{
	list-style-type: upper-roman;
	margin: 0px;
}
.blog > ol > li{
	padding: 0px;
}
.blog > .real-stuff > a{
	font-size: 18px;
	font-family: "Arial", Helvetica, sans-serif;
	text-decoration: none;
	color: #0000ff;
}
.blog > .real-stuff > a:hover{
	color: #000088;
}
.blog > .code{
	width: 95%;
	margin: 0px auto 10px;
	border-left: 5px solid #ff0000;
}
/*NOW ALL THE OLD BLOG STUFF!!*/
/*Oldest Blogs*/
.blog-old1{
	width: 80%;
	margin: 10px auto 10px;
	display: block;
	border: 1px solid #ddd;
	background-color: #eee;
}
.blog-old1 > .dateX{
	font-size: 20px;
	font-family: 'Inconsolata', serif;
	text-align: right;
	color: #ccc;
	padding: 5px;
	margin: 0px 0px -16px;
}
.blog-old1 > .title{
	font-size: 35px;
	font-family: 'Inconsolata', serif;
	padding: 0px 5px 5px;
	text-align: center;
	margin: -16px 0px 0px;
}
.blog-old1 > .real-stuff{
	font-size: 20px;
	text-align: justify;
	font-family: 'Inconsolata', serif;
	padding: 10px;
	margin: 0px 5px 5px;
}
/*a little bit of canvas css*/
.canvas{
	border: 2px solid #cbcbcb;
	margin: 3px;
}
