{
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.yml", "renovate.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
