<div class="container-fluid content-wrapper">

    <div class="container-fluid content-title-container">
        <h1 class="text-center h1">Joshua Ji's Website
            <br>
            <small>(Possibly the third website he has tried to make)</small>
        </h1>
    </div>

    <div class="container-fluid content-body-container">
        <p class="lead">
            I have no idea what to do here
        </p>
        <p>Actually. No idea. Let's just start with a quote!</p>

        <blockquote>
            <p>We know what we are, but know not what we may be.</p>
            <footer>William Shakespeare</footer>
        </blockquote>

        <p>No idea why I added that quote</p>
    </div>

    <div class="container-fluid content-footer-container col-md-12">
        <hr class="half-hr">
        <p class="text-center">
            <b>not</b> &copy; Joshua Company Ltd</p>
    </div>


</div>