<div class="container-fluid content-wrapper no-padding">

    <!-- <div class="container-fluid content-title-container">
		<h1 class="text-center h1">Blog</h1>
	</div> -->

    <div class="container-fluid content-body-container">

        <!-- The pagination -->
        <nav>
            <ul class="pager">
                <li>
                    <a ng-click="newest()" class="hover-link non-blue-link pagination-styles unselectable" style="float: left">&laquo; Newest</a>
                </li>
                <li>
                    <a ng-click="previous()" class="hover-link non-blue-link pagination-styles unselectable">&lt; Previous</a>
                </li>
                <li>
                    <a ng-click="next()" class="hover-link non-blue-link pagination-styles unselectable">Next &gt;</a>
                </li>
                <li>
                    <a ng-click="oldest()" class="hover-link non-blue-link pagination-styles unselectable" style="float: right">Oldest &raquo;</a>
                </li>
            </ul>
        </nav>

        <hr />

        <div id="blog-link-content" class="container-fluid">

            <div ng-repeat="x in currentArray" class="col-md-10 col-md-offset-1 col-sm-12 blog-link hover-link">
                <a href="{{ x.href }}" class="blog-anchor">
                    <div class="container-fluid blog-content-wrapper">
                        <p class="blog-anchor-styles no-margin">{{ x.name }}</p>
                        <p class="lead no-margin non-blue-link description">{{ x.description }}</p>
                        <p class="small non-blue-link date">Written on {{ x.date | date:'fullDate' }}.</p>
                    </div>
                </a>
                <hr />
            </div>

        </div>

    </div>

    <footer class="footer">

        <hr class="half-hr">
        <p class="text-center">
            <b>not</b> &copy; Joshua Company Ltd</p>

    </footer>

</div>