html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/*a {
  outline: 0 !important;
  to get rid of the firefox outline - very ugly
}*/

.hover-link {
    cursor: pointer;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-border {
    border: 0px;
}

.home-title {
    background-image: url('pictures/home_img.jpg');
    background-position: center center;
    height: 50vh;
}

.padding-margin-title {
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 0px;
}

.size-title {
    font-size: 100px;
}

.title {
    color: #fff;
}

.page-break {
    height: 2px;
    background-color: white;
    width: 20%;
    margin: 0px auto 0px;
    border-radius: 3px;
}

.carousel {
    margin: 20px 0px;
    font-size: 30px;
    padding: 0;
}

.title-size {
    font-size: 50px;
}

.border-radius-50 {
    border-radius: 50%;
}

.non-blue-link,
.non-blue-link:hover,
.non-blue-link:visited {
    color: #000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-white {
    color: #fff;
}

hr.half-hr {
    width: 50%;
}

/*the carousel*/

#carousel {
    display: inline-block;
}

/*navbar - dun dun dun......*/

.nav-remake {
    border-radius: 0px;
    background-color: transparent;
    border: none;
}

.nav-remake a {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/*navbar collapse*/

/* so without the border-bottom the mobile version looks pretty bad but when did I care about the mobile version? */

.nav-remake .navbar-collapse {
    background-color: transparent;
    /* border-bottom: 1px solid #fff; */
}

.nav-remake .navbar-header .navbar-toggle:hover {
    background-color: #aaa;
}

.nav-remake .navbar-header .navbar-toggle>.icon-bar {
    background-color: white;
}

.nav-remake .navbar-header .navbar-brand,
.nav-remake .navbar-header .navbar-brand:focus {
    background-color: transparent;
    color: white;
}

.nav-remake .navbar-header .navbar-brand:hover {
    background-color: transparent;
    color: #ddd;
}

.nav-remake .navbar-nav>.active>a,
.nav-remake .navbar-nav>.active>a:focus {
    background-color: transparent;
    text-decoration: underline;
    color: white;
}

.nav-remake .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #ddd;
}

.nav-remake .navbar-nav>li>a,
.nav-remake .navbar-nav>li>a:focus {
    color: white;
}

.nav-remake .navbar-nav>li>a:hover {
    color: #ddd;
}

/*Blog*/

.content-body-container .pager>li>a.pagination-styles {
    border: none;
}

.content-body-container .pager>li>a.pagination-styles:hover {
    background: none;
    color: #888;
}

.content-body-container>#blog-link-content>.blog-link>.blog-anchor {
    display: block;
    text-decoration: none;
}

.content-body-container>#blog-link-content>.blog-link>.blog-anchor>div.blog-content-wrapper>p.blog-anchor-styles {
    color: #1565C0;
    font-size: 30px;
}

.content-body-container>#blog-link-content>.blog-link>.blog-anchor:hover>div.blog-content-wrapper>p.blog-anchor-styles {
    color: #3498DB;
}

.content-body-container>#blog-link-content>.blog-link>.blog-anchor>div.blog-content-wrapper>p.description {
    font-style: italic;
}

/* making the footer sticky */

/* this makes the ui-view have 100% height" */

body {
    display: table;
    width: 100%;
}

#upper-fixed {
    display: table-row;
}

#inner-remaining {
    display: table-row;
}

.content-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* this makes the sticky footer */

.content-title-container {
    flex: 1;
}

.content-body-container {
    flex: 1;
}

.content-footer-container {
    flex: 0 0 100%;
}