/*The css for blogs*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #555;
}

/*Universal classes*/

.hover-link {
    cursor: pointer;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-border {
    border: 0px;
}

.non-blue-link,
.non-blue-link:hover,
.non-blue-link:visited {
    color: #000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-white {
    color: #fff;
}

pre.code {
    padding: 0;
    border: none;
    overflow: auto;
    tab-size: 4;
}

pre.code>code {
    padding: 30px 40px;
    font-family: Consolas, monospace;
    font-size: 15px;
}

hr.half-hr {
    width: 50%;
}

.sticky {
    top: 0;
    position: fixed;
}

/*The navbar*/

.nav-remake {
    border-radius: 0px;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
}

.nav-remake a {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/*navbar collapse*/

.nav-remake .navbar-collapse {
    background-color: transparent;
}

.nav-remake .navbar-header .navbar-toggle:hover {
    background-color: #aaa;
}

.nav-remake .navbar-header .navbar-toggle>.icon-bar {
    background-color: #000;
}

.nav-remake .navbar-header .navbar-brand,
.nav-remake .navbar-header .navbar-brand:focus {
    background-color: transparent;
    color: #000;
}

.nav-remake .navbar-header .navbar-brand:hover {
    background-color: transparent;
    color: #ddd;
}

.nav-remake .navbar-nav>.active>a,
.nav-remake .navbar-nav>.active>a:focus {
    background-color: transparent;
    text-decoration: underline;
    color: #000;
}

.nav-remake .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #ddd;
}

.nav-remake .navbar-nav>li>a,
.nav-remake .navbar-nav>li>a:focus {
    color: #000;
}

.nav-remake .navbar-nav>li>a:hover {
    color: #ddd;
}

/*Blog stuff*/

.right-picture-align {
    float: right;
    margin: 10px;
    width: 500px;
}

.content-wrapper {
    height: 100%;
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: left;
}

.content-wrapper>.blog-title>h1.blog-title-text {
    font-size: 60px;
}

@media only screen and (max-width: 750px) {
    .right-picture-align {
        width: 100%;
    }
    .right-picture-align>img {
        margin-left: auto;
        margin-right: auto;
    }
    .content-wrapper>.blog-title>h1.blog-title-text {
        font-size: 40px;
    }
}

.content-wrapper>.blog-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-wrapper>.blog-content .header {
    font-size: 30px;
}

.content-wrapper>.blog-content .text {
    font-family: Garamond;
    font-size: 20px;
}

.content-wrapper>.blog-content .text.ugly {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
}

/*Changing the selection on all blog text*/

/*.content-wrapper > .blog-content > p::selection{
	background: #333;
	opacity: 0.7;
	color: #fff;
}
.content-wrapper > .blog-content > p::-moz-selection{
	background: #333;
	opacity: 0.7;
	color: #fff;
}*/

.content-wrapper>.content-footer-container {
    background-color: transparent;
    padding: 30px;
}