#title {
  text-align: center;
  cursor: pointer;
}

.simp {
  color: #000;
  cursor: pointer;
}

.animation {
  cursor: pointer;
}

span {
  color: #000;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.text-underline {
  text-decoration: underline;
}

.parent-overflow-scroll {
  max-width: 100%;
  white-space: nowrap;
  overflow: auto;
}

.white {
  color: white !important;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: #444;
}

#content-wrap {
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: relative;
}

#content-wrap>#header {
  padding: 0px;
}

#content-wrap>#body {
  padding: 0px;
  padding-bottom: 500px;
}

#content-wrap>#footer {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 230px;
  background-color: #d5d5d5;
  margin-top: 50px;
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-menu>li>a {
  padding: 10px 20px;
}

.navbar-inverse {
  background-color: #0d0202;
  border-radius: 0px;
  background-image: none;
}

.navbar-inverse .caret {
  color: #9d9d9d;
}

.navbar-inverse .dropdown-toggle:hover .caret {
  color: #fff;
}

.navbar-inverse .open .caret {
  /*If the dropdown is expanded, the caret is white*/
  color: #fff;
}

.navbar-inverse .navbar-brand {
  font-size: 150%;
  font-weight: 500;
}

.navbar-inverse .navbar-nav>.active>a {
  background-image: none;
  background-color: #222;
}

.navbar-inverse .nav .open {
  background-color: #000;
}

/*Blog stuff*/

#body {
  position: relative;
  /*makes it an offset parent*/
  display: block;
  margin: 15px 0px;
}

#body>.blog {
  position: relative;
}

#body>.blog:after {
  content: '';
  display: block;
  height: 1px;
  background-color: #bbb;
  width: 100%;
  margin: 0px auto;
}

#body>.blog>.blog_clicker {
  padding: 0px;
  cursor: pointer;
}

#body>.blog>.blog_clicker>.placeholder {
  display: block;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
}

#body>.blog>.blog_clicker>.title {
  text-align: left;
  font-weight: 800;
}

#body>.blog>.date {
  font-style: italic;
}

#body>.blog>.real-stuff {
  border-top: 1px solid #ddd;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#body>.blog>.real-stuff>.subtitle {
  font-weight: bolder;
  margin: 10px 0px 5px;
}

#body>.blog>.real-stuff>.subtitle>.subtitle-link {
  color: inherit;
}

#body>.blog>.real-stuff>.text {
  font-size: 20px;
  padding-bottom: 10px;
  margin: 0px;
}

#body>.blog>.real-stuff>.code-snippet {
  background-color: #fff;
  border: 0px;
  border-left: 5px solid red;
  border-radius: 0px;
  padding: 0px;
}

#body>.blog>.real-stuff>.code-snippet>code {
  border-radius: 0px;
}

#footer>.footer-container {
  height: 100%;
  background-color: none;
}

.first {
  border-right: 1px solid #888;
  border-left: 1px solid #888;
}

.middle {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/*ALL hover*/

#body>.blog>.blog_clicker:hover>.title {
  color: #0074D9;
}

#body>.blog>.blog_clicker:hover>.placeholder {
  color: #0074D9;
}

#body>.blog>.real-stuff>.subtitle>.subtitle-link:hover {
  text-decoration: underline;
}