/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #293c4b;
}


/* achieving the Wired link underlines */

.fat-underline {
    border-bottom: .0625em solid rgb(50, 145, 201, 0.5);
    box-shadow: 0 -.25em 0 rgb(50, 145, 201, 0.5) inset;
}
